# Compiled source #
###################
*.o
*.so
*.bin
*.map

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Others #
*~
snapshot.txt
bin/
*.log
iso/
test/serial_output.log
test/qemu.in
test/qemu.out
